@use "mixins" as *;
@use "variables" as *;

:host {
  width: 100%;
}

.artwork-details {
  background-color: var(--bg-light);
  background-color: rgb(69, 69, 69);
  background-color: var(--grs-bg-light);
  /*background-color: #4b4b4b;*/
  /*background-color: rgb(35,35,35);*/
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
  /*&__container {
    max-width: 80%;
    height: max-content;
    margin-right: auto;
    margin-left: auto;

    @include respond($big-desktop) {
      max-width: 70%;
    }

    @include respond($tablet-landscape) {
      max-width: 100%;
    }*/
  /*    @include respond($tablet-portrait) {
      max-width: 100%;
    }*/
  /*}*/

  &__container {
      border: 1px solid var(--grs-border-color);
      margin: 0 24px;
      padding: 24px 0;
  }

  &__layout {
    /*height: 65vh;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    /*margin: 1rem auto;*/
    justify-content: center;
    align-content: center;
    width: 100%;
    /*margin: 2.25rem auto;*/
    /* @include respond($big-desktop) {
    }*/

    @include respond($tablet-landscape) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      gap: 1rem;
      /*margin: 1rem auto;*/
    }

    @include respond($tablet-portrait) {
      display: inline-block;
      /*width: 100%;*/
    }
  }
}

.figure {
  display: inline-block;
  flex: 2;
  /*flex: 1.75;*/
  margin: 0 auto;
  min-height: 64vh !important;
  min-height: 74vh !important;

  @include respond($big-desktop) {
    /*flex: 2;*/
  }

  @include respond($tablet-landscape) {
    min-height: 62vh !important;
    flex: 2;
  }

  @include respond($tablet-portrait) {
    min-height: 60vh !important;
    display: flex;
    /*flex-direction: column;*/
    flex-basis: 100%;
    justify-content: center;
    align-content: center;
    flex: 1;
    margin-block-end: 1rem;
  }

  @include respond($phone) {
    min-height: 56vh !important;
  }
}

.gallery {
  height: inherit !important;
  width: 100%;

  @include respond($tablet-landscape) {
    max-height: 65vh !important;
    min-height: 30vh;
  }

  @include respond($phone) {
  }
}

figcaption {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  /*flex: 1.25;*/
  background-color: white;
  background: var(--grs-bg-light);
  padding: 2.25rem;
  height: 100%;
  box-shadow: var(--shadow-sm);
  /*border-radius: 0.375rem;*/
  @include respond($big-desktop) {
    flex: 1;
  }

  @include respond($tablet-portrait) {
    padding: 1.125rem;
  }
}

.details {
  dl {
    div {
      display: flex;
      flex-direction: row;

      dt,
      dd {
        font-size: 1rem;
        line-height: 1.25;
      }

      dt {
        padding-right: 0.5rem;
      }

      dd {
        &.title {
          font-style: italic;
        }
      }
    }
  }
}
/*.badge {
  color: rgb(130, 80, 223, 0.9);
  background: rgb(130, 80, 223, 0.2)
}

dt:after {
  content: "\00a0";
}

i {
  font-size: 8px;
}*/
/*CSS GRID IMPLEMENTATION*/
/*@import "main";

.artwork-details {
  background-color: $bg-light;
  padding-bottom: 2rem;

  &__container {
    max-width: 80%;
    height: max-content;
    margin-right: auto;
    margin-left: auto;

    @include respond($tablet-portrait) {
      max-width: 100%;
    }

    @include respond($tablet-landscape) {
      max-width: 90%;
    }

    @include respond($big-desktop) {
      max-width: 70%;
    }
  }

  &__layout {
    margin: 2.25rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;*/
/*   display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 3.25rem;*/
/*height: 65vh;*/
/*height: max-content;

    @include respond($big-desktop) {*/
/*grid-column-gap: 3rem;*/
/*}

    @include respond($tablet-landscape) {
      margin: 1rem auto;*/
/*      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.25rem;
      grid-row-gap: 0;*/
/*}

    @include respond($tablet-portrait) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;*/
/*   grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;*/
/*grid-column-gap: 0;*/
/*grid-row-gap: 1rem;*/
/*width: 100%;*/
/*height: max-content;*/
/*}
  }
}

.figure {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;*/
/*height: 32rem;*/
/*margin: 0;
  height: 50vh !important;*/
/*height: 100%;*/
/*}

.gallery {
  display: inline-block !important;*/
/*max-height: 56rem !important;*/
/*min-width: 100%;
  height: inherit !important;*/
/*height: 65vh !important;*/
/*width: 100%;

  @include respond($tablet-portrait) {
    min-width: 100vw;
    max-height: 65vh !important;
    min-height: 30vh;*/
/*height: 100% !important;*/
/*    height:  !important;*/
/*height: 45vh !important;*/
/*height: 80vh !important;*/
/*}
}

figcaption {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: white;
  padding: 3rem 2.25rem;
  height: max-content;
  box-shadow: $shadow-sm;*/
/*border-radius: 0.375rem;*/
/*@include respond($tablet-portrait) {
    padding: 1.125rem;
  }
}

.details {

  dl {
    div {
      display: flex;
      flex-direction: row;

      dt, dd {
        font-size: 1rem;
        line-height: 1.25;
      }

      dt {
        padding-right: 0.5rem;
      }

      dd {
        &.title {
          font-style: italic;
        }
      }
    }
  }
}*/
/*.badge {
  color: rgb(130, 80, 223, 0.9);
  background: rgb(130, 80, 223, 0.2)
}

dt:after {
  content: "\00a0";
}

i {
  font-size: 8px;
}*/

.artwork-info-box {
  display: block;
  /*height: calc(calc(var(--grs-grid-card-image-height) + (calc(var(--grs-grid-card-padding) * 2))) / var(--phi));*/
  // height: 184px;
  padding: 18px 9px;
  background: var(--grs-bg-light);
  /*    @include respond($phone) {
      padding: 15px 18px;
    }*/
}

.p-artwork-info-title {
  /*color: #000 !important;*/
  // // color: #999 !important;
  color: #000 !important;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  margin-bottom: 8px;
}

.p-artwork-info-details {
  display: block;
}

.span-artwork-medium,
.span-artwork-dims {
  display: block;
  line-height: 16px;
}
