<footer class="pul-layout__footer">
  <div class="pul-layout__footer-inner">
    <div class="page-footer" data-type="page-footer">
      <!--<a href="" target="_blank" rel="noopener noreferrer">grsart.co.uk</a>-->
      <!-- <div class="feedback-actions">
        <a class="s-btn sb-feedback" href="" target="_blank" rel="noopener noreferrer">
          <span>Suggest an Idea</span>
        </a>
      </div>-->
      <!--      <div class="feedback-actions">
          <a href="">Cookies</a>
        </div>
        <div class="feedback-actions">
          <a href="">Commission</a>
        </div>-->
      <!--      <div class="feedback-actions">
          <a href="">Contact</a>
        </div>-->
      <!-- <div class="container-fluid"> -->
      <small class="">All content copyright © George Rice-Smith 2024 </small>
      <!-- </div> -->
    </div>
  </div>
</footer>
