<div class="grs-navbar header-comp" #stickyMenu [class.sticky]="sticky">
  <div class="l-grouping">
    <button
      [class.main-sidebar-toggler--open]="sidenavService.mainSidenavIsExpanded"
      (click)="
        sidenavService.mainSidenavIsExpanded
          ? sidenavService.collapseMainSidenav()
          : sidenavService.expandMainSidenav()
      "
      class="main-sidebar-toggler main-sidebar-toggler--open"
      type="button"
    >
      <span class="main-sidebar-toggler-inner">
        <span class="main-sidebar-toggler-icon"></span>
      </span>
    </button>
    <!-- <button [class.active]="sidenavService.mobileNavIsExpanded"
    (click)="sidenavService.mobileNavIsExpanded ? sidenavService.collapseMobileNav() : sidenavService.expandMobileNav()"
    class="right-sidenav_toggle"
    type="button">
    <i *ngIf="sidenavService.mobileNavIsExpanded === false"
    class="right-sidenav_toggle-icon fa fa-bars"></i>
    <i *ngIf="sidenavService.mobileNavIsExpanded"
    class="gallery-sidenav__close-btn_icon fa fa-close"></i>
  </button>-->
    <a class="grs-navlink" routerLink="/">
      <strong class="grs-navbar__site-brand">George Rice-Smith</strong>
    </a>
  </div>

  <div class="d-flex gap-5">
    <!-- Navlinks -->
    <ul class="grs-navlinks">
      @for (navLink of navigationService.navLinks; track navLink) {
        <li>
          <!-- [routerLink]="navLink.url | lowercase" -->
          <a
            [routerLink]="navLink.url"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="grs-nav-link"
          >
            {{ navLink.text }}
          </a>
        </li>
      }
    </ul>
    <!-- End of Navlinks -->
    @if (
      !(accountService.isAdmin$ | async) &&
      (accountService.currentUser$ | async) &&
      appConfigService.showMainNavBasket
    ) {
      <div class="d-flex align-items-center">
        <a routerLink="/basket" class="grs-navlink position-relative">
          <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
          @if (basketService.basketSource$ | async; as basket) {
            <div class="cart-no">
              {{ getCount(basket.items) }}
            </div>
          }
        </a>
      </div>
    }

    @if ((accountService.currentUser$ | async) === null) {
      @if (appConfigService.showMainNavLogin) {
        <a routerLink="/account/login" class="grs-navlink">Login</a>
      }
      @if (appConfigService.showMainNavRegister) {
        <a routerLink="/account/register" class="grs-navlink">Register</a>
      }
    }

    @if (accountService.currentUser$ | async; as user) {
      <div dropdown class="dropdown ms-3" style="cursor: pointer">
        <a dropdownToggle class="dropdown-toggle">
          <!-- <strong class="display-name"
            [ngClass]="accountService.currentUser$ === 'admin' ? 'display-name-admin' : 'display-name-user'">
            {{user.displayName}}
          </strong>-->
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right text-small">
          <li class="py-1">
            @if (isAdmin$ | async) {
              <a
                routerLink="/admin"
                routerLinkActive="active"
                class="dropdown-item"
              >
                Dashboard
              </a>
            }
          </li>
          @if (
            !(accountService.isAdmin$ | async) &&
            (accountService.currentUser$ | async)
          ) {
            <li class="py-1">
              <a class="dropdown-item" routerLink="/basket">
                <i class="fa fa-shopping-cart me-3"></i> View basket
              </a>
            </li>
            <li class="py-1">
              <a class="dropdown-item" routerLink="/orders">
                <i class="fa fa-history me-3"></i> View orders
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
          }
          <li class="py-1">
            <a (click)="accountService.logout()" class="dropdown-item">
              <i class="fa fa-sign-out me-3"></i> Logout
            </a>
          </li>
          <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>-->
        </ul>
      </div>
    }

    <!--    <div class="dropdown text-end">
    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>-->
    <!--</div>-->
  </div>
  <!--<div class="utility-spacer"></div>-->
</div>
