select {
  color: #000 !important;
  width: 100%;
  box-shadow: 0 1px 3px #aaaaaa;
  /*border-radius: var(--grs-border-radius);*/
}

select:focus-visible {
    outline: none;

}

option:checked {
  border-radius: 0 !important;
  box-shadow: none !important;
}
option {
  border-radius: 0 !important;
  box-shadow: none !important;
}
