@use "mixins" as *;
@use "variables" as *;

:host {
  /*height: 100vh;*/
  /*display: none;*/
  /*height: calc(100vh - var(--grs-navbar-height));*/
  height: 0;
  top: 100%;
  width: 0;
  position: sticky !important;
  /*top: 0;*/
  top: var(--grs-navbar-height);
  z-index: 40;
  transition: width 300ms cubic-bezier(0.02, 0.68, 0.63, 0.98);
  background: rgb(69,69,69);
  /*background-color: #4b4b4b;*/
  /*background: #393c41;*/
  box-shadow: 0 4px 4px 0 rgba(60,64,67,.3), 0 8px 12px 6px rgba(60,64,67,.15);

  &.is-expanded {
    display: flex;
    height: calc(100vh - var(--grs-navbar-height));
    width: 15.75rem;

    @include respond($phone) {
      position: fixed !important;
      width: 70%;
      top: var(--grs-navbar-height-mobile);
      height: calc(100vh - var(--grs-navbar-height-mobile));
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

/*.sidenav-expanded__overlay {
  position: static;
  top: var(--grs-navbar-height);
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 7;
  background: rgb(69,69,69,0.7);
}*/

.sidenav {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  /*height: 100%;*/
  position: static;
  top: 0;

  &:hover .gallery-sidenav__close-btn {
    display: block;
    visibility: visible;
  }
  /*padding: 16px;*/
  /*box-sizing: border-box;*/


  &__nav {
    padding: 3rem;
    height: 100%;
    width: 100%;
    display: block;
    /*    display: flex;
    flex-direction: row;
    justify-content: space-between;*/
  }

  &__nav-items {
    /*display: inline-block;*/
    /*    display: flex;
    flex-direction: column;
    align-items: center;*/
    display: block;
    padding: 0;
    margin: 0;
  }

  &__nav-item {
    padding: 1rem;
    list-style-type: none;
  }

  &__nav-link {
    font-size: 0.975rem;
    color: white !important;
    text-decoration: none;

    &:active {
      /*text-decoration: underline;*/
      color: cornflowerblue;
    }

    &:hover {
      border-bottom: 2px solid #fff;
    }
  }
}

.gallery-sidenav__close-btn {
  display: none;
  visibility: hidden;
  background: inherit;
  border: none;

  i {
    color: white;
  }
}
